
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amiko', sans-serif;
}

header {
    margin: 24px 0 0 12px;
    text-align: center;
}

#stock-tiles {
    margin: 24px;
    text-align: center;
}

.stock-tile {
    display: inline-block;
    margin: 0 12px;
    padding: 6px;
    border: 1px solid #ddd;
    min-width: 100px;
    vertical-align: top;
}

.stock-tile:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#new-stock-btn {
    display: inline-block;
    min-width: 1em;
    height: calc(1em + 1px);
    vertical-align: middle;
    text-align: center;
    background-color: #bbb;
    cursor: pointer;
}

.remove-stock-btn {
    opacity: 0;
    color: #a22;
    cursor: pointer;
}

.stock-tile:hover .remove-stock-btn {
    opacity: 0.6;
}

.remove-stock-btn:hover {
    opacity: 1 !important;
}

.uppercase {
    text-transform: uppercase;
}

.page-info {
    font-size: 14px;
    text-align: center;
    color: #aaa;
}